body{
    background-color: cornflowerblue;
}
form{
    margin: 0 auto;
    width: 500px;
    border: none;
    background-color: blueviolet;
    border-radius: 20px;
    padding: 30px;
}
input {
    width: 90%;
    color: #ffffff;
    background-color:#e4b7b7;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 10px;
    padding: 10px;
  }
  input:focus {
    background-color:skyblue;
    border: 1px solid gray;
  }
p input[type="radio"], p input[type="checkbox"] {
    display: inline !important;
    width: 10%;
}
input[type="submit"] {
    background-color: burlywood;
    color: #fff;
    width: 95%;
}